<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details Panel with Dynamic Tabs</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-kotlin.min.js"></script>
  <%- include('partials/header') %>

    <script src="public/script_index.js" defer></script>
</head>

<body>
  <div class="d-flex" id="main_container">
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>

      <div class="main-content">
        <div class="container">

            <!-- Component Details -->
            <div id="component-container"
              class="details-panel row <%= (!pics || pics.length === 0) ? 'no-images' : '' %>">
              <% if (component) { %>
                <%- include('partials/component_details', { pics: pics, tabs: tabs, snippets: snippets }) %>
                  <% } else { %>
                    <p>No components found matching the provided id".</p>
                    <% } %>
            </div>
        </div>
        <%- include('partials/floating_button')%>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>